.fillerDiv {
    height: 100px;
}

.backgroundTable {
    padding: 10px 0;
    background-color: pink;
    width: 100%;
	box-shadow:inset 1px 3px 4px -2px #FCE3E3, 1px 3px 4px -2px #100506;
}

.leftLabel {
    width: 150px;
    text-align: right;
    font-size: 18px;
    margin: 5px 5px 0 0;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
}

#tableWrapper {
    max-height: 145px;
    overflow-y: scroll;
}

.removeRow {
    cursor: pointer;
    padding: 0 20px;
}

#removeImage {
    height: 12px;
    width: 12px;
}

input, select, textarea {
    border-radius: 5px;
    font-size: 14px;
    width: 90%;
    margin-right: 10px;
}

#eventType {
    font-size: 15px;
    border-color:#000;
}

textarea {
    resize: none;
}

.nonInvites {
    display: none;
}

#participantNumber {
    text-align: right;
    width: 40px;
}

.invites {
    display: none;
}