.fillerDiv {
    height: 100px;
}

.backgroundTable {
    padding: 10px 0;
    background-color: pink;
    width: 100%;
}

.leftLabel {
    width: 150px;
    text-align: right;
    font-size: 18px;
    margin-top: 5px;
    display: inline-block;
    vertical-align: top;
}

#tableWrapper {
    max-height: 145px;
    overflow-y: scroll;
}

.removeRow {
    cursor: pointer;
    padding: 0 20px;
}

#removeImage {
    height: 12px;
    width: 12px;
}

input, select, textarea {
    border-radius: 5px;
    font-size: 15px;
}

textarea {
    resize: none;
}

.nonInvites {
    display: none;
}

#participantNumber {
    text-align: right;
    width: 40px;
}

.invites {
    display: none;
}