.fillerDiv {
    height: 100px;
}

.backgroundTable {
    padding: 10px 0;
    background-color: pink;
    width: 100%;
	box-shadow:inset 1px 4px 6px -2px #FCE3E3, 1px 4px 6px -2px #100506;
	position:relative;
	z-index: 1;
}

.leftLabel {
    width: 150px;
    text-align: right;
    font-size: 18px;
    margin-top: 5px;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
}

.rightLabel {
    margin: 5px 0 0 5px;
    font-size: 18px;
    display: inline-block;
}

#tableWrapper {
    max-height: 145px;
    overflow-y: scroll;
    vertical-align: top;
}

#participants {
    margin: 0;
}
