#matchUpTable {
    width: 100%;
}

.matchUpCell {
	box-shadow:inset 1px 4px 3px -2px #FCE3E3, 1px 4px 6px -3px #100506;
	background-color: pink;
    padding: 3px;
}

.profilePicture {
    float: left;
    height: 50px;
    width: 50px;
    padding-right: 10px;
}

.buttonTd {
    padding: 5px 0;
    text-align: center;
}

.answerButton {
    cursor: pointer;
    font-size: 18px;
	box-shadow:inset 1px 2px 3px -2px #FCE3E3, 1px 2px 3px -2px #100506;
}
.answerButton:active {
	box-shadow:inset 1px 2px 3px -2px #100506, 1px 2px 3px -2px #FCE3E3;
}

.accept {
    background-color: #33cc33;
}

.ignore {
    background-color: #e06666;
}

button:focus {
    outline: none;
}