#feedContent {
    width: 100%;
}

.feedCell {
	box-shadow:inset 1px 4px 3px -2px #FCE3E3, 1px 4px 6px -3px #100506;
	background-color: pink;
    padding: 3px;
}

.profilePicture {
    float: left;
    height: 50px;
    width: 50px;
    padding-right: 10px;
}