.search {
    padding: 6px 30px 5px 15px;
    margin: 3px;
    background: url("../images/magnifyingGlass.png") no-repeat top right;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

input:focus {
    outline: 0;
}