#tableContainer {
    max-height: 500px;
    overflow-y: auto;
}

#eventsTable {
    border-collapse: collapse;
    width: 90%;
}

#eventsTable td {
    padding: 5px;
    cursor: pointer;
}

.search {
    padding: 6px 30px 5px 15px;
    margin: 3px;
    background: url("../images/magnifyingGlass.png") no-repeat top right;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.search:disabled {
    background-color: #f2f2f2;
}

input:focus {
    outline: 0;
}