.fillerDiv {
    height: 150px;
    width: 100%;
}

#infoTable {
    border-collapse: collapse;
}

.leftLabel {
    text-align: right;
    padding: 10px;
}

input {
    position: relative;
    font-size: 15px;
    background-color: transparent;
    border-style: solid;
    border-width: 0 0 1px 0;
}

input:focus {
    outline: 0;
}