#mainContent2 {
    width: 400px;
    height: 620px;
    overflow-y: auto;
    font-family: Helvetica, sans-serif;
}

h3 {
    margin-bottom: 6px;
}

#infoTable {

}

.leftLabel {
    text-align: right;
}

#sportsDiv {
    border: 1px solid black;
    max-height: 135px;
    overflow-y: scroll;
}

#emptyTableText {
    margin: 10px 0;
}

#checkBoxTable {
    border: 1px solid black;
    border-collapse: collapse;
}

.sportImage {
    height: 30px;
    width: 30px;
    padding: 0 20px;
}

.removeRow {
    cursor: pointer;
    padding: 0 20px;
}

#removeImage {
    height: 12px;
    width: 12px;
}

.search {
    padding: 6px 30px 5px 15px;
    margin: 3px;
    background: url("../images/magnifyingGlass.png") no-repeat top right;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

input:focus {
    outline: 0;
}