body {
	font-family:Helvetica, sans-serif;
}

#mainTable {
	border-collapse: collapse;
}

#mainContent {
	width: 400px;
	height: 548px;
	overflow-y: auto;
	font-family: Helvetica, sans-serif;
}

#headerTable {
	width: 100%;
	border-collapse: collapse;
	height: 75px;
	background-color:#b3d9ff;
}

#leftHeader {
	width: 20%;
}

#matchUpIcon {
	width: 70px;
	height: 70px;
}

#middleHeader {
	font-size: 40px;
	text-align: center;
}

#rightHeader {
	text-align: center;
	width: 20%;
	height: 75px;
}

#footerTable {
	width: 100%;
	border-collapse: collapse;
	background-color: #b3d9ff;
	height: 75px;
	margin-bottom: 5px;
}

#footerTable td {
	border: 1px solid black;
	text-align: center;
}

#leftFooter {
	cursor: pointer;
	width: 33%;
}

#footerTable img {
	width: 50px;
	height: 50px;
}

#footerTable p {
	margin: 0;
}

#middleFooter {
	cursor: pointer;
	width: 34%;
}

#rightFooter {
	cursor: pointer;
	width: 33%;
}

#eventsMenu {
	display: none;
	border-collapse: collapse;
	width: 133px;
	position: absolute;
	left: 50px;
	top: 628px;
	text-align:center;
	background-color:white;
}

#eventsMenu td {
	border: 1px solid black;
	font-size: 18px;
	padding: 10px 5px 10px 5px;
	cursor: pointer;
}

.noWrapping {
	padding: 0;
	z-index: -1;
}

.fill {
	width: 100%;
	height: 100%;
}

.altRows {
	border: 1px solid black;
}

.altRows thead {
	background-color: #fb5151;
	color: #fff;
	border: 1px solid black;
}

.altRows tbody tr:nth-child(odd) {
	background-color: #ffe5e5;
}

.altRows tbody tr:nth-child(even) {
	background-color: #ffcccc;
}

.defaultGreenButton {
	background-color: #33cc33;
	cursor: pointer;
	border: 1px solid black;
	font-size: 20px;
	padding: 10px;
}